{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="x-icon" href="{% static 'img/old_logo.png' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Kalam:wght@300;700&family=Manrope:wght@300&family=PT+Serif:ital,wght@1,700&family=Roboto:wght@100;500&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Acme&family=Courgette&family=Dancing+Script:wght@500;700&family=Kalam:wght@300;700&family=Manrope:wght@300&family=PT+Serif:ital,wght@1,700&family=Roboto+Slab:wght@500&family=Roboto:wght@100;500&family=Sanchez:ital@1&family=Source+Serif+4:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'services.css' %}">
	<title>Services</title>
	
</head>
<body>

	<div class="title0">
		<img src="{% static 'img/old_logo.png' %}" alt="old" class="logo1">
		<h1>Services</h1>
		<img src="{% static 'img/old_logo.png' %}" alt="old" class="logo2">
	</div>



	<div class="container">
		<a href="{% url 'home' %}" class="back">&#x2190 Back Home</a>
		<div class="content">
			<h1>what we provide to our client ?</h1>
			<p>
				we Have two type of client : <br>
				- the person who needs the care (Careseeker) <br>
				- the person who give the care (Caretaker)
			</p>

			<h1> for Careseeker </h1>
			<p>
			<b>Careseekers will get all given services and more depends it condition :</b> <br> <br>
			- Schedule medical appointments <br>
			- Prepare and oversee care plan <br>
			- Assist with bathing, eating and grooming <br>
			- Provide companionship <br>
			- Manage household chores <br>
			- Monitor medication <br>
			</p>


			<p>
			<b>1. Assess medical needs:</b> <br> <br>
			- Checking health on patient is an important caregiver responsibility. 
			You may need to help assess pain levels, schedule medical appointments,
			or manage medications and chronic conditions. It's a good idea to discuss
			your patient with their doctor and other health professionals regularly
			</p>
			
			<p>
			<b>2. Prepare a care plan:</b> <br> <br>
			- Preparing a care plan that addresses your client care needs and goals can
			be helpful when you begin your caregiving journey. A plan can help you determine
			how many daily hours of care your client will require and whether you need
			additional help to ensure their health and safety
			</p>
			<p>
			<b>3. Assist with basic needs:</b> <br> <br>
			Memory and mobility issues can make activities of daily living such as eating, 
			bathing, grooming, and toileting. difficult to perform without a caregiver. 
			Check in often and pay attention to specific signs and changes to determine if
			your client needs extra help.

		</p>
			<p>
			<b>4. Provide companionship</b> <br> <br>
			One of the most essential but sometimes overlooked parts of senior caregiving is
			companionship. Feelings of loneliness in older adults can lead to serious health
			consequences, including depression. When you care for an aging person, you're
			creating opportunities to strengthen your bond and connection.
			</p>
			<p>
			<b>5. Help with housekeeping</b> <br> <br>
				maintaining a home can become increasingly difficult. Older adults may need help
				with vacuuming, doing the dishes, or taking out the garbage. If your client lives
				in a house, yard work like snow shoveling and daily maintenance may be too much for 
				them to handle.
			</p>
			<p>
				<b>6. Monitor medications</b> <br> <br>
				Older adults often take several prescription medications to treat chronic conditions.
				Your loved one may need help keeping track of their medication list, understanding drug 
				interactions, and taking prescribed dosages at the right time. You can help lower your client's 
				risk of medication mix-ups and associated health problems by monitoring their medications and
				creating reminder systems.
			</p>

			<h1> For Caretaker </h1>
			<p>
			- Being a babysitter or caregiver in the digital age means staying on top of new online 
			resources and coming up with innovative ways to market yourself to potential clients and families. <br>
			- facilitates a quick search option for finding your client and allows swift communication
			between the family and you as a caregiver. <br>
			- To get a Job you need to create your profile providing a detailed job description
			that should include details. 


			</p>


		
		</div>


	</div>


	




	
</body>
</html>